* {
  margin: 0;
  padding: 0;
}

/* d9f0ff */
/* a3d5ff */
/* 83c9f4 */
/* 6f73d2 */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

a {
  text-decoration: none;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f73d2;
  font-size: 1.1em;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  transition: ease-in-out 0.6s;
}

.navigation a:hover {
  letter-spacing: 0.005em;
  font-weight: bold;
  color: #3b3e8f;
}

.navigation {
  background-color: #d9f0ff;
  width: 60vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  padding-left: 3vw;
  background-color: #d9f0ff;
  width: 40vw;
  height: 7vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.landingPage,
.storyPage,
.offerPage {
  margin-top: 3vh;
  width: 100vw;
  max-width: 100%;
  background-color: #d9f0ff;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingContainer,
.storyContainer,
.offerContainer {
  background-color: white;
  height: 60vh;
  width: 98vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landingContainerLeft,
.storyContainerLeft,
.offerContainerLeft {
  background-color: white;
  width: 30vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landingContainerRight,
.storyContainerRight,
.offerContainerRight {
  background-color: #d9f0ff;
  color: #3b3e8f;
  width: 55vw;
  height: 42vh;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landingContainerRight h1,
.storyContainerRight h1,
.offerContainerRight h1 {
  font-size: 4em;
}

.landingContainerRight h3,
.storyContainerRight h3,
.offerContainerRight h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  opacity: 0.5;
  font-size: 1.3em;
  margin-left: 5px;
  font-weight: lighter;
}

.landingContainerRight p,
.storyContainerRight p,
.storyContainerRight p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px 10px;
  color: #3b3e8f;
  letter-spacing: 1px;
}

.landingContainerButton {
  margin-top: 4vh;
  position: relative;
  left: 44.5vw;
  background-color: #3b3e8f;
  color: #d9f0ff;
  padding: 10px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.3s, transform 0.3s ease-in-out;
  border: 2px solid transparent;
}

.landingContainerButton:hover,
.storyContainerButton:hover,
.offerContainerButton:hover {
  background-color: #d9f0ff;
  color: #3b3e8f;
  transform: scale(1.01);
  border-color: #1e2151;
}

.planningPage {
  background-color: #6f73d2;
  height: 20vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planningContainer {
  height: 12vh;
  width: 88vw;
  display: flex;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  align-items: center;
  background-color: #d9f0ff;
}

.planningContainer input,
.planningContainer button {
  height: 5vh;
  width: 17vw;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0 15px;
}

.planningContainer input::placeholder {
  text-align: center;
  font-size: 1.2em;
  opacity: 0.7;
  letter-spacing: 0.5px;
  color: #3b3e8f;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.planningContainer button {
  text-align: center;
  font-size: 0.95em;
  letter-spacing: 1px;
  background-color: #3b3e8f;
  color: #d9f0ff;
  font-weight: bolder;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: ease 0.6s;
}

.planningContainer button:hover {
  background-color: #1e2151;
}

.overviewPage {
  margin-bottom: 3vh;
  height: 80vh;
  background-color: #d9f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewContainer {
  height: 70vh;
  width: 93vw;
  background-color: #d9f0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overviewDescription {
  text-align: center;
  margin: 1vh 0;
  height: 10vh;
  width: 80vw;
  color: #3b3e8f;
}

.overviewVideo {
  background-color: beige;
  height: 55vh;
  width: 90vw;
  margin: 2vh 0;
}

.overviewVideo video {
  object-fit: cover;
  height: 55vh;
  width: 90vw;
  border-radius: 10px;
}

.packagePage {
  height: 90vh;
  margin: 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9f0ff;
}

.packageContainer {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9f0ff;
}

.packagetitle {
  height: 7vh;
  background-color: #d9f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packageGrid {
  height: 78vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.packageCards {
  height: 73vh;
  width: inherit;
  margin: 3vh 0;
  background-color: #6f73d2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid #1e2151;
  border-radius: 0.75vw;
}

.gridItem1 {
  background-color: white;
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 
  2px 2px 20px black,
  -1px -1px 0px white;
}

.itemImage {
  height: 25vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemImage img {
  height: inherit;
}

.itemDetail {
  height: 25vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.itemTitle {
  width: 22vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemDescription {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemButton {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemButton button {
  height: 3.5vh;
  width: 10vw;
  margin-bottom: 1vh;
  background-color: #83c9f4;
  border-radius: 1.3rem;
  border: 2px solid transparent;
}

.itemButton button:hover {
  background-color: #3b3e8f;
  color: white;
  border: 2px solid white;
}

footer {
  height: 60vh;
}

.footerContent {
  height: 50vh;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerLogo,
.footerNav,
.footerContact {
  height: 30vh;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo img {
  object-fit: cover;
  height: 28vh;
}

.footerNav {
  display: flex;
  flex-direction: column;
}

.footerNav a {
  color: black;
  line-height: 3.5vh;
}

.footerSocial {
  height: 7vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerWatermark {
  height: 3vh;
  background-color: beige;
  text-align: center;
}

.galleryPage {
  background-color: #d9f0ff;
  height: 90vh;
  margin: 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryContainer {
  height: 85vh;
  width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d9f0ff;
}

.galleryTitle {
  height: 5vh;
  text-align: center;
  background-color: #d9f0ff;
  color: #3b3e8f;
}

.galleryContnet {
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.galleryButton {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.galleryButton button {
  height: 4vh;
  width: 35vw;
  border-radius: 1.3vw;
  border: 2px solid transparent;
  color: black;
  background-color: #83c9f4;
  font-size: medium;
  font-weight: bold;
}

.galleryButton button:hover {
  transition: 0.2s ease-in-out;
  color: white;
  background-color: #1e2151;
  border: 2px solid #d9f0ff;
}

.galleryCOntentLeft,
.galleryContentRight {
  height: 75vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9f0ff;
  margin-top: 10px;
}

.galleryCOntentLeft img,
.galleryContentRight img {
  margin-top: 5vh;
  height: 30vh;
}

.galleryContentCenter {
  background-color: #d9f0ff;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryContentCenter img {
  height: inherit;
}

.storyPage,
.offerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.storyTitle,
.offerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9f0ff;
  color: #3b3e8f;
  height: 10vh;
  width: 98vw;
}

.storyContainer,
.offerContainer {
  width: 97vw;
  border: 3px solid #1e2151;
  border-radius: 0.75vw;
}

.storyContainerRight,
.offerContainerRight {
  background-color: #d9f0ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.storyContainerRight h1,
.storyContainerRight h3 {
  text-align: center;
}

.storyContainerRight button, .offerContainer button {
  background-color: #3b3e8f;
  color: #d9f0ff;
  padding: 10px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.3s, transform 0.3s ease-in-out;
  border: 2px solid transparent;
}

.storyContainerLeft img,
.offerContainerLeft img {
  height: inherit;
}

.alertPage {
  height: 30vh;
  background-color: #d9f0ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}