* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: aqua;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  background-color: wheat;
  width: 70vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  background-color: wheat;
  width: 30vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPage {
  margin: 3vh 0;
  width: 100vw;
  max-width: 100%;
  background-color: aquamarine;
  height: 80vh;
}

.landingContainer {
  background-color: wheat;
  height: 75vh;
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



