* {
  margin: 0;
  padding: 0;
}
/* d9f0ff */
/* a3d5ff */
/* 83c9f4 */
/* 6f73d2 */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

a {
  text-decoration: none;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f73d2;
  font-size: 1.1em;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  transition: ease-in-out 0.6s;
}
.navigation a:hover {
  letter-spacing: 0.005em;
  font-weight: bold;
  color: #3b3e8f;
}

.navigation {
  background-color: #d9f0ff;
  width: 60vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  padding-left: 3vw;
  background-color: #d9f0ff;
  width: 40vw;
  height: 7vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.landingPage {
  margin: 3vh 0;
  width: 100vw;
  max-width: 100%;
  background-color: #d9f0ff;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingContainer {
  background-color: white;
  height: 60vh;
  width: 98vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landingContainerLeft {
  background-color: white;
  width: 30vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingContainerRight {
  background-color: #d9f0ff;
  color: #3b3e8f;
  width: 50vw;
  height: 45vh;
}

.landingContainerButton {
  position: relative;
  left: 35vw;
  background-color: #3b3e8f;
  color: #d9f0ff;
  padding: 10px 20px;

  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.landingContainerButton:hover {
  background-color: #d9f0ff;
  color: #3b3e8f;
}
.planningPage {
  background-color: aqua;
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planningContainer {
  height: 12vh;
  width: 88vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
}

.planningContainer input,
.planningContainer button {
  height: 5vh;
  width: 17vw;
}
.planningContainer input::placeholder {
  text-align: center;
}

.overviewPage {
  margin: 3vh 0;
  height: 80vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewContainer {
  height: 70vh;
  width: 93vw;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overviewDescription {
  text-align: center;
  margin: 1vh 0;
  height: 10vh;
  width: 80vw;
  background-color: aliceblue;
}
.overviewVideo {
  background-color: beige;
  height: 55vh;
  width: 90vw;
  margin: 2vh 0;
}
.overviewVideo video {
  object-fit: cover;
  height: 55vh;
  width: 90vw;
}

.packagePage {
  background-color: aqua;
  height: 80vh;
  margin: 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.packageContainer {
  background-color: wheat;
  height: 75vh;
  width: 90vw;
}

.packagetitle {
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packageGrid {
  height: 55vh;
  margin: 3vh 0;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gridItem1 {
  background-color: wheat;
  height: 45vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemImage {
  height: 25vh;
  width: 25vw;
}
.itemImage img {
  height: inherit;
  width: inherit;
}

.itemTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemDetail {
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemButton button {
  height: 3vh;
  width: 23vw;
  margin-bottom: 1vh;
}

footer {
  margin-top: 3vh;
  height: 60vh;
}

.footerContent {
  height: 50vh;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerLogo,
.footerNav,
.footerContact {
  height: 30vh;
}
.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLogo img {
  object-fit: cover;
  height: 28vh;
}
.footerNav {
  display: flex;
  flex-direction: column;
}
.footerNav a {
  color: black;
  line-height: 3.5vh;
}
.footerSocial {
  height: 7vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerWatermark {
  height: 3vh;
  background-color: beige;
  text-align: center;
}
